/* ####################################################################
12 BOOL FRAMEWORK

CONTAIENR MAX-WIDTH 1170px 

SX - MOBILE FIRST        max-width 767px
MD - TABLET (@media)     min-width 768px
LG - DESKTOP (@media)    min-width 992px
######################################################################*/

/* GENERAL */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

img{
    max-width: 100%;
}

p{
    line-height: 1.5;
}
p:first-letter {
    text-transform: uppercase; 
}


/* CONTAINER 
 Container centrato di dimensione 1170px */
.container{
    max-width: 1170px;
    margin: 0 auto;
}

/* Container CLEARFIX */
.container::after{
    content: '';
    display: table;
    clear: both;
}

/* COLUMNS */
[class*="col-"] {
    /* Rende tutte le colonne Float */
    float: left;
    /* Spazio tra colonne */
    padding-left: 15px;
    padding-right: 15px;
}

/* Columns .PADDING-0 
NESTING .padding-0 per azzerare il padding interno*/
[class*="col-"].padding-0 {
    padding-left: 0px;
    padding-right: 0px;
}


/* ######################################################## 
XS MOBILE 0PX / 767PX - 12 COLUMNS layout
##########################################################*/
/* Mobile */
.col-xs-12{
    width: 100%;
}
.col-xs-11{
    width: calc((100% / 12) * 11);
}
.col-xs-10{
    width: calc((100% / 12) * 10);
}
.col-xs-9{
    width: calc((100% / 12) * 9);
}
.col-xs-8{
    width: calc((100% / 12) * 8);
}
.col-xs-7{
    width: calc((100% / 12) * 7);
}
.col-xs-6{
    width: calc((100% / 12) * 6);
}
.col-xs-5{
    width: calc((100% / 12) * 5);
}
.col-xs-4{
    width: calc((100% / 12) * 4);
}
.col-xs-3{
    width: calc((100% / 12) * 3);
}
.col-xs-2{
    width: calc((100% / 12) * 2);
}
.col-xs-1{
    width: calc(100% / 12);
}

/* ******************************************************* 
XS OFFSET MOBILE 768px in su / 991px - 12 COLUMNS layout
**********************************************************/
/* Reset offset */
.offset-xs-0{
    margin-left: 0;
}
/* Default offset */
.offset-xs-1{
    margin-left: calc(100% / 12);
}
.offset-xs-2{
    margin-left: calc((100% / 12) * 2);
}
.offset-xs-3{
    margin-left: calc((100% / 12) * 3);
}
.offset-xs-4{
    margin-left: calc((100% / 12) * 4);
}
.offset-xs-5{
    margin-left: calc((100% / 12) * 5);
}
.offset-xs-6{
    margin-left: calc((100% /12) * 6);
}
.offset-xs-7{
    margin-left: calc((100% / 12) * 7);
}
.offset-xs-8{
    margin-left: calc((100% / 12) * 8);
}
.offset-xs-9{
    margin-left: calc((100% / 12) * 9);
}
.offset-xs-10{
    margin-left: calc((100% / 12) * 10);
}
.offset-xs-11{
    margin-left: calc((100% / 12) * 11);
}
.offset-xs-12{
    margin-left: calc((100% / 12) * 12);
}


/* ######################################################## 
MD TABLET 768px in su / 991px - 12 COLUMNS layout
##########################################################*/
@media screen and (min-width: 768px){
    /* Colums */
    .col-md-12{
        width: 100%;
    }
    .col-md-11{
        width: calc((100% / 12) * 11);
    }
    .col-md-10{
        width: calc((100% / 12) * 10);
    }
    .col-md-9{
        width: calc((100% / 12) * 9);
    }
    .col-md-8{
        width: calc((100% / 12) * 8);
    }
    .col-md-7{
        width: calc((100% / 12) * 7);
    }
    .col-md-6{
        width: calc((100% / 12) * 6);
    }
    .col-md-5{
        width: calc((100% / 12) * 5);
    }
    .col-md-4{
        width: calc((100% / 12) * 4);
    }
    .col-md-3{
        width: calc((100% / 12) * 3);
    }
    .col-md-2{
        width: calc((100% / 12) * 2);
    }
    .col-md-1{
        width: calc(100% / 12);
    }
}

/* ******************************************************** 
OFFSET MD TABLET 768px in su / 991px - 12 COLUMNS layout
**********************************************************/
@media screen and (min-width: 768px){
    /* Reset offset */
    .offset-md-0{
        margin-left: 0;
    }
    /* Default offset */
    .offset-md-1{
        margin-left: calc(100% / 12);
    }
    .offset-md-2{
        margin-left: calc((100% / 12) * 2);
    }
    .offset-md-3{
        margin-left: calc((100% / 12) * 3);
    }
    .offset-md-4{
        margin-left: calc((100% / 12) * 4);
    }
    .offset-md-5{
        margin-left: calc((100% / 12) * 5);
    }
    .offset-md-6{
        margin-left: calc((100% /12) * 6);
    }
    .offset-md-7{
        margin-left: calc((100% / 12) * 7);
    }
    .offset-md-8{
        margin-left: calc((100% / 12) * 8);
    }
    .offset-md-9{
        margin-left: calc((100% / 12) * 9);
    }
    .offset-md-10{
        margin-left: calc((100% / 12) * 10);
    }
    .offset-md-11{
        margin-left: calc((100% / 12) * 11);
    }
    .offset-md-12{
        margin-left: calc((100% / 12) * 12);
    }
}


/* ######################################################## 
LG DESKTOP 992 in su  - 12 COLUMNS layout
##########################################################*/
@media screen and (min-width: 992px){
    /* Colums */
    .col-lg-12{
        width: 100%;
    }
    .col-lg-11{
        width: calc((100% / 12) * 11);
    }
    .col-lg-10{
        width: calc((100% / 12) * 10);
    }
    .col-lg-9{
        width: calc((100% / 12) * 9);
    }
    .col-lg-8{
        width: calc((100% / 12) * 8);
    }
    .col-lg-7{
        width: calc((100% / 12) * 7);
    }
    .col-lg-6{
        width: calc((100% / 12) * 6);
    }
    .col-lg-5{
        width: calc((100% / 12) * 5);
    }
    .col-lg-4{
        width: calc((100% / 12) * 4);
    }
    .col-lg-3{
        width: calc((100% / 12) * 3);
    }
    .col-lg-2{
        width: calc((100% / 12) * 2);
    }
    .col-lg-1{
        width: calc(100% / 12);
    }
}

/* ******************************************************** 
OFFSET LG DESKTOP 992 in su  - 12 COLUMNS layout
**********************************************************/
@media screen and (min-width: 992){
    /* Offset reset */
    .offset-lg-0{
        margin-left: 0;
    }
    /* Default offset */
    .offset-lg-1{
        margin-left: calc(100% / 12);
    }
    .offset-lg-2{
        margin-left: calc((100% / 12) * 2);
    }
    .offset-lg-3{
        margin-left: calc((100% / 12) * 3);
    }
    .offset-lg-4{
        margin-left: calc((100% / 12) * 4);
    }
    .offset-lg-5{
        margin-left: calc((100% / 12) * 5);
    }
    .offset-lg-6{
        margin-left: calc((100% /12) * 6);
    }
    .offset-lg-7{
        margin-left: calc((100% / 12) * 7);
    }
    .offset-lg-8{
        margin-left: calc((100% / 12) * 8);
    }
    .offset-lg-9{
        margin-left: calc((100% / 12) * 9);
    }
    .offset-lg-10{
        margin-left: calc((100% / 12) * 10);
    }
    .offset-lg-11{
        margin-left: calc((100% / 12) * 11);
    }
    .offset-lg-12{
        margin-left: calc((100% / 12) * 12);
    }
}